<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
  <add name="conn" connectionString="Server=0ccbd8cf-de0d-4162-b319-a5d700806361.sqlserver.sequelizer.com;Database=db0ccbd8cfde0d4162b319a5d700806361;User ID=alfzebejotmysanm;Password=rY3PmePm7kAkrpcBFAQieHo7bKbQqyUKUZFiSJk5Vb8aJadsRaAqsvxRJ4MJc74F;"/>
</connectionStrings>
</configuration>
